// Colors
$color: #000e16;

$link-color: #fe9a00;
$link-light-color: #ffb900;

$pre-bg-color: #fefefe;
$pre-border-color: #f5f5f5;

$header-bg-color: #fe9a00;
$header-underbar-bg-color: #f2e19e;

$nav-color: #fff;

$version-warning-color: #750707;

$footer-border-color: #eee;
$footer-color: #bbb;

$grey-link-color: #bbb;
$grey-link-hover-color: #bbb;

$docs-border-color: #eee;

$pkg-border-color: #eee;
$pkg-input-border-color: #eee;
$pkg-hint-bg-color: #fcfcfc;
$pkg-summary-border-color: #eee;
$pkg-summary-hints-color: #bbb;

$catalog-border-color: #eee;
$catalog-sidebar-border-color: #eee;

$code-bg-color: rgba(0, 0, 0, 0.04);

html,
head,
body {
  margin: 0;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  color: $color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

p,
li {
  line-height: 1.5em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .light {
    color: $link-light-color;
  }
}

pre {
  margin: 0;
  padding: 10px;
  background-color: $pre-bg-color;
  border-style: solid;
  border-width: 1px;
  border-color: $pre-border-color;
  border-radius: 6px;
  overflow-x: auto;
}

/* HOME */

.home-summaries ul {
  list-style-type: none;
  padding-left: 1em;
}

/* CENTER */

.center {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.header {
  background-color: $header-bg-color;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: hidden;

  &-underbar {
    background-color: $header-underbar-bg-color;
    margin: 0;
  }
}

.nav {
  max-width: 920px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: $nav-color;

  a {
    color: $nav-color;
  }

  h1 {
    font-size: 24px;
  }
}

.spacey-char {
  margin: 0 10px;
}

.version-warning {
  margin: 0 0 0 calc((100% - 920px) / 2);
  padding: 7px 0;
  color: $version-warning-color;

  a {
    color: $version-warning-color;
    text-decoration: underline;
  }
}

/* FOOTER */

.footer {
  text-align: center;
  margin-top: 4em;
  border-top: 1px solid $footer-border-color;
  padding: 2em 0;
  color: $footer-color;
}

.grey-link {
  color: $grey-link-color;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $grey-link-hover-color;
  }
}

/* DOCUMENTATION */

.block-list {
  width: 600px;
  display: inline-block;
  vertical-align: top;

  &-title {
    font-size: 3em;
    margin-bottom: 16px;
  }
}

.markdown-block h1 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.docs-block {
  border-top: 1px solid $docs-border-color;
  margin-top: 1em;
  margin-bottom: 2em;
}

.docs-header {
  white-space: pre;
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding-top: 10px;
  padding-bottom: 10px;
}

.docs-comment {
  overflow: hidden;
  padding-left: 36px;

  img {
    max-width: 500px;
  }
}

/* ABOUT */

.pkg-about {
  table {
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier,
      monospace;
    width: 100%;
  }

  td {
    padding: 4px 0;
  }
}

/* PACKAGE NAVIGATION */

.pkg-nav {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin: 20px 20px 20px 40px;
  border-left: 1px solid $pkg-border-color;

  h2 {
    margin-bottom: 0;
  }

  input {
    width: 200px;
    font-size: 1em;
    padding: 4px;
    margin: 10px 0;
    border: 1px solid $pkg-input-border-color;
    border-radius: 6px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 20px;
    }
  }

  &-module,
  &-value {
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier,
      monospace;
    text-overflow: ellipsis;
  }

  &-search-chunk {
    padding-bottom: 10px;
  }
}

/* CATALOG */

.catalog {
  width: 600px;
  display: inline-block;
  vertical-align: top;

  input {
    width: 578px;
    font-size: 1.5em;
    padding: 10px;
    outline: none;
    border: 1px solid $catalog-border-color;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

.pkg-hint {
  padding: 20px;
  background-color: $pkg-hint-bg-color;
  border-radius: 8px;
}

.pkg-summary {
  padding: 20px 0;
  border-bottom: 1px solid $pkg-summary-border-color;

  h1 {
    margin: 0;
    font-size: 1.5em;
    display: inline-block;
  }

  &-desc {
    margin: 0.5em 0;
  }

  &-hints {
    float: right;
    font-size: 1em;
    padding-top: 0.5em;
    color: $pkg-summary-hints-color;

    a {
      color: $pkg-summary-hints-color;
    }
  }
}

/* CATALOG SIDEBAR */

.catalog-sidebar {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin: 20px 20px 20px 40px;
  border-left: 1px solid $catalog-sidebar-border-color;

  h2 {
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
  }
}

/* CODE */

code {
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;

  :not(pre)>& {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: $code-bg-color;
    border-radius: 3px;

    &::before,
    &::after {
      letter-spacing: -0.2em;
      content: "\00a0";
    }
  }
}